body{
    background-color: #efdcdc;
    
}
h1{
    text-align: center;
    color: black;
    font-size: 30px;
    font-family: 'Open Sans Condensed', sans-serif;
}

#current{
    color: #545556;
}

#res{
    font-size: 20px;
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
  

}
.bottom{
    margin-top: -70px;
}


.bottom > li{
    margin: 10px;
}

#email{
   font-size: 20px;
}

#res:hover{
    opacity: .5; 
}




ul{
    text-align: center;
    color: black;
    font-size: 30px;
    font-family: 'Open Sans Condensed', sans-serif;
}

ul > li{
     display: inline;
     margin: 30px;
}

.slideshow > div{
   
}

.appName{
    font-size: 25px;
    margin-left: 210px;
    
}

.myParagraph{
    color:#545556;
   text-align: center;

    margin-top: 500px;
   font-family: 'Open Sans Condensed', sans-serif;
    
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    opacity: .5; 
}



.slideshow {

	position: relative;
	overflow: hidden;
	width:600px;
	height: 600px;
    display:block;
    margin: auto;
    margin-top: 0;

}
.slideshow > div {
    position: absolute;
    max-width: 100%;
    width: 100%;
    height: 480px;
    max-height: 100%;

}

.slideshow > div > img {
        display:block;
    margin:auto;
    height: 100%;

    overflow: hidden;
   
    
}


.slideshow>.btn{
    position: absolute;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 25px;
    top: 200px;
    background: rgba(196, 197, 198, 0.8);
    color: white;
    font-size: 20px;
    
}

.slideshow>#btn2{
    position: relative;
    float: right;
}